body {
    background-color: coral;
    font-family: sans-serif;
}
h1 {
    color: rgb(0, 0, 0);
}

form {
    background-color: rgba(0, 255, 255, 0.774);
    width: 400px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 70px;
}
button{
    background-color: blue;
    color: white;
    width: 130px;
    height: 25px;
}

select{
    background-color: rgb(255, 255, 255);
    width: 180px;
    height: 25px;
    
}